/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin:auto;
  font-family: 'Work Sans' ;
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0
}
section {
  margin: 50px 0
}

h1{
  display: flex;
  flex-direction: column;
  font-family: 'Syne';
  font-size: 22px;
  font-weight: 800;
  color: #B1663C
}

h1 > span {
  font-family: 'Work Sans';
  font-size:10px;
  letter-spacing: 0.1em;
;
}

h2{
  font-family: 'Syne';
  font-weight: 700;
  font-size: 30px;
  color: #1D6154
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;

}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #B1663C;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

button{
  font-family: 'Syne';
  font-weight: 700;
  background: white;
  border-radius: 60px;
  text-align: center;
  border: 1px solid #1D6154;
  color:#1D6154;
  width: 180px;
  height: 37px;
}
button:hover {
  background:#1D6154 ;
  color: white;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;

}
#contact {
  width: 50%;
margin: auto;
}
#contact > * {
  text-align: center;

}
#contact h2{
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top:30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

button[type="submit"]{
  font-family: 'Syne';
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin : 2em auto ;
  width: 179px;
  text-align: center;
  border-radius: 60px ;
}
.login h2 {
  margin-bottom: 20px;
  font-family: 'Syne';
}
.login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}	
.login form {
  text-align: left;
  margin-top:30px;
  display: flex;
  flex-direction: column;
}
.login {
  width: 50%;
  margin: auto;
}

.login >* {
  text-align: center;
}

.login a {
  text-align: center;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em
}

.container-modal {
  background-color: #ffffff;
  width: 40%;
  padding: 30px;
  box-sizing: border-box;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.384);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  justify-content: center;
  align-items: center;
  display: none;

}

h3 {
  text-align: center;
}

.open-modal{
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}
.fa-pen-to-square {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}

.overlay img {
  width: 77px;
}

.content-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  padding-bottom: 30px;
}

.container-modal h3 {
  font-size: 26px;
  padding-bottom: 18px;
}
.content-gallery img {
  width: 100%;
}
.content-btn-add {
  text-align: center;
}
.content-gallery div {
  position: relative;
}

.content-btn-close {
  text-align: right;
}

.border {
  height: 1px;
  width: 100%;
  background-color: #B3B3B3;
  margin-bottom: 30px;
}

.btn-delete{
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  background: #000000;
  color: #ffffff;
  width: 17px;
  height: 17px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 2px;
}

.add-picture {
  font-family: 'Work Sans';
  justify-content: center;
  background-color: #ffffff;
  align-items: center;
}
.fa-xmark {
  right: 10px;
}

.modal-add-photo {
  display: none;
}

.btn-add {
  background:#1D6154 ;
  color: white;
}

.preview {
  text-align: center;
  width: 100%;
  background: #E8F1F6;
  height: 169px;
}

i.fa-regular.fa-image {
  font-size: xxx-large;
  color: #B9C5CC;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  margin-top: 13px;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50px;
  margin-bottom: 13px;
  background: #CBD6DC;
}

.preview input {
  display: none;
  width: auto
}

.preview label {
  width: auto!important;
}


.add-picture input#title{
  background: #FFF;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  border: none;
  padding: 15px;
  width: 100%;
  margin-bottom: 10px;
}
.add-picture label.title, label.category{
  color: #3D3D3D;
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}
.add-picture select {
  background: #FFF;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  padding: 15px;
  padding: 15px;
  border: none;
  width: 100%;
}